<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

		
	<!-- bean definitions of employee1 -->
	<bean id="employee1" class="com.bean.Employee">

		<property name="id" value="11"></property>
		<property name="name" value="Kalpesh"></property>
		<property name="salary" value="10000"></property>

	   <property name="depts" >
	    <list>
	        <value>IT</value>
	        <value>SECURITY</value>
	        <value>FINANCE</value>
	        <value>ADMIN</value>
	    </list>
	   </property>
	</bean>






</beans>